In [2]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\dacio.souza\appdata\roaming\python\python312\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dacio.souza\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dacio.souza\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
# Exemplo de criação de um DataFrame
data = {
    'coluna1': [1, 2, 3],
    'coluna2': ['A', 'B', 'C']
}
df = pd.DataFrame(data)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
# Substitua 'dialect+driver://username:password@host:port/database' pelos detalhes da sua conexão
engine = create_engine('sqlite:///turmaADS2.db', echo=True)

In [10]:

df = pd.read_csv('dados/dataSujo.csv')

In [14]:
# Inserindo no db
df.to_sql('tabelaNova', engine, if_exists='replace', index=False, schema='')

2024-05-24 11:37:09,173 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:37:09,176 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("tabelaNova")
2024-05-24 11:37:09,178 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-24 11:37:09,179 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("tabelaNova")
2024-05-24 11:37:09,180 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-24 11:37:09,182 INFO sqlalchemy.engine.Engine
CREATE TABLE "tabelaNova" (
	"Duration" BIGINT,
	"Date" TEXT,
	"Pulse" BIGINT,
	"Maxpulse" BIGINT,
	"Calories" FLOAT
)


2024-05-24 11:37:09,183 INFO sqlalchemy.engine.Engine [no key 0.00081s] ()

2024-05-24 11:37:09,535 INFO sqlalchemy.engine.Engine INSERT INTO "tabelaNova" ("Duration", "Date", "Pulse", "Maxpulse", "Calories") VALUES (?, ?, ?, ?, ?)
2024-05-24 11:37:09,536 INFO sqlalchemy.engine.Engine [generated in 0.00127s] [(60, "'2020/12/01'", 110, 130, 409.1), (60, "'2020/12/02'", 117, 145, 479.0), (60, "'2020/12/03'", 103, 135, 340.0), (45, "'2020/12/04'", 109, 175, 282.4), (45, "'2020/12/05'", 117, 148, 406.0), (60, "'2020/12/06'", 102, 127, 300.0), (60, "'2020/12/07'", 110, 136, 374.0), (450, "'2020/12/08'", 104, 134, 253.3)  ... displaying 10 of 32 total bound parameter sets ...  (60, "'2020/12/30'", 102, 129, 380.3), (60, "'2020/12/31'", 92, 115, 243.0)]
2024-05-24 11:37:09,538 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-24 11:37:09,539 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-24 11:37:09,540 INFO sqlalchemy.engine.Engine COMMIT

32

In [16]:
query = "SELECT * FROM tabelaNova"
df = pd.read_sql(query, engine)
df

2024-05-24 11:42:33,358 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:42:33,359 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM tabelaNova")
2024-05-24 11:42:33,360 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-24 11:42:33,361 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM tabelaNova")
2024-05-24 11:42:33,362 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-24 11:42:33,363 INFO sqlalchemy.engine.Engine SELECT * FROM tabelaNova
2024-05-24 11:42:33,364 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-24 11:42:33,377 INFO sqlalchemy.engine.Engine ROLLBACK

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45          None    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Exemplo 1

- Driver e Dialeto: Certifique-se de que o driver e o dialeto sejam compatíveis com o banco de dados que você está usando (por exemplo, mysql+pymysql para MySQL, sqlite para SQLite).
- Segurança: Evite expor diretamente as credenciais de banco de dados no código. Considere o uso de variáveis de ambiente ou arquivos de configuração para gerenciar informações sensíveis.
- Parâmetros Adicionais: A função to_sql tem vários parâmetros opcionais, como if_exists, que pode ser ajustado para append se você quiser adicionar dados à tabela existente sem sobrescrevê-la.

In [17]:
import pandas as pd
from sqlalchemy import create_engine

# # # Configurações da conexão
# dialect = 'sqlite'
# driver = 'psycopg2'
# username = 'usuario'
# password = 'senha'
# host = 'localhost'
# port = '5432'
# database = 'meu_banco_de_dados'

# # Criação da engine de conexão
# engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')

engine = create_engine('sqlite:///turmaADS2.db')

# Carregar dados do banco de dados
query = "SELECT * FROM tabelaNova"
df = pd.read_sql(query, engine)

# Operação simples no DataFrame (ex: filtrar dados)
df_filtered = df[df['Calories'] > 300]

print(df_filtered)
# Armazenar os dados filtrados em outra tabela no banco de dados
df_filtered.to_sql('diaTP', engine, if_exists='replace', index=False)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
4         45  '2020/12/05'    117       148     406.0
6         60  '2020/12/07'    110       136     374.0
10        60  '2020/12/11'    103       147     329.3
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
19        60  '2020/12/19'    103       123     323.0
21        60  '2020/12/21'    108       131     364.2
25        60  '2020/12/25'    102       126     334.5
30        60  '2020/12/30'    102       129     380.3

12

## Exemplo 2
Para melhorar a segurança, você pode armazenar as credenciais do banco de dados em variáveis de ambiente em vez de incluí-las diretamente no código

In [59]:
# efina as variáveis de ambiente (em um arquivo .env ou diretamente no seu sistema):

DB_DIALECT=postgresql
DB_DRIVER=psycopg2
DB_USERNAME=usuario
DB_PASSWORD=senha
DB_HOST=localhost
DB_PORT=5432
DB_NAME=meu_banco_de_dados

In [4]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

# Carregar variáveis de ambiente do arquivo .env
load_dotenv()

print(f"DB_PORT: {os.getenv('DB_PORT')}")
print(f"DB_NAME: {os.getenv('DB_NAME')}")


# Configurações da conexão usando variáveis de ambiente
dialect = os.getenv('DB_DIALECT')
driver = os.getenv('DB_DRIVER')
username = os.getenv('DB_USERNAME')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')
database = os.getenv('DB_NAME')

# Criação da engine de conexão
engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')

# Carregar dados do banco de dados
query = "SELECT * FROM nome_da_tabela"
df = pd.read_sql(query, engine)

# Operação simples no DataFrame (ex: filtrar dados)
df_filtered = df[df['Calories'] > 300]

# Armazenar os dados filtrados em outra tabela no banco de dados
df_filtered.to_sql('tabela_destino', engine, if_exists='replace', index=False)

DB_PORT: None
DB_NAME: None

ValueError: invalid literal for int() with base 10: 'None'

# Exemplo 3 em contexto de produção
Em um ambiente de produção, você pode querer gerenciar conexões com o banco de dados de forma mais eficiente, utilizando um pool de conexões, por exemplo:

In [19]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# Criação da engine de conexão com pool de conexões
# engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}', pool_size=10, max_overflow=20)

# # Criar uma sessão
# Session = sessionmaker(bind=engine)
# session = Session()

# Usar a sessão para carregar dados
query = "SELECT * FROM nome_da_tabela"
df = pd.read_sql(query, session.bind)

# Realizar operações no DataFrame
df_filtered = df[df['Calories'] > 300]

# Armazenar os dados no banco de dados
df_filtered.to_sql('tabela_destino', session.bind, if_exists='replace', index=False)

# Fechar a sessão
session.close()

OperationalError: (sqlite3.OperationalError) no such table: nome_da_tabela
[SQL: SELECT * FROM nome_da_tabela]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Considerações de Desempenho
Chunking: Para grandes volumes de dados, carregue e armazene os dados em chunks para evitar problemas de memória:

In [ ]:

chunk_size = 1000
for chunk in pd.read_sql(query, engine, chunksize=chunk_size):
    # process(chunk) # função que processa os dados
    pass

Indexação: Certifique-se de que as tabelas no banco de dados tenham índices adequados para melhorar o desempenho das consultas.

Bulk Insert: Utilize o método to_sql com o parâmetro method='multi' para inserções em massa mais eficientes:

In [ ]:
df.to_sql('nome_da_tabela', engine, if_exists='replace', index=False, method='multi')

3

## Manutenção e Boas Práticas
- Controle de Versão do Esquema do Banco de Dados
  - Utilize ferramentas como Alembic para gerenciar mudanças no esquema do banco de dados:

In [ ]:
# !alembic init alembic
# alembic revision --autogenerate -m "Descrição da mudança"
# alembic upgrade head

In [ ]:
# pip install pandas sqlalchemy
# pip install pymysql # para MySQL
# pip install sqlite3 # para SQLite (geralmente já incluído)
# pip install pyodbc  # para SQL Server
# pip install python-dotenv # para gerenciar variáveis de ambiente

## Monitoramento de Conexões
Certifique-se de monitorar e gerenciar o uso de conexões ao banco de dados para evitar vazamentos de conexões e sobrecarga do banco de dados. Ferramentas de monitoramento específicas para o banco de dados que você está usando (como pgAdmin para PostgreSQL) podem ajudar a acompanhar o uso de recursos.

In [ ]:
from sqlalchemy import create_engine

# Criação da engine de conexão com pool de conexões
engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}', pool_size=10, max_overflow=20)

## Criação de models

In [4]:
from sqlalchemy import Column, Integer, String, create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Base = declarative_base()

class TabelaOrigem(Base):
    __tablename__ = 'tabela_origem'
    id = Column(Integer, primary_key=True)
    coluna1 = Column(Integer)
    coluna2 = Column(String)

# Criação da engine de conexão
# engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')
engine = create_engine('sqlite:///meu_banco.db')
tabela = TabelaOrigem()
Base.metadata.create_all(engine)
# Criação de sessão
Session = sessionmaker(bind=engine)
session = Session()

# Consulta utilizando ORM
resultados = session.query(TabelaOrigem).filter(TabelaOrigem.coluna1 > 2).all()

# Processamento dos resultados
for resultado in resultados:
    print(resultado.coluna1, resultado.coluna2)

C:\Users\dacio\AppData\Local\Temp\ipykernel_38848\3409856637.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Criação da engine de conexão
engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')

# Definir o tamanho do chunk
chunk_size = 10000

# Inicializar uma lista para armazenar os chunks processados
chunks = []

# Ler os dados em chunks
for chunk in pd.read_sql("SELECT * FROM tabela_origem", engine, chunksize=chunk_size):
    # Processar o chunk
    chunk_filtered = chunk[chunk['coluna1'] > 2]
    chunks.append(chunk_filtered)

# Concatenar todos os chunks processados em um único DataFrame
df_filtered = pd.concat(chunks)

# Armazenar os dados processados no banco de dados
df_filtered.to_sql('tabela_destino', engine, if_exists='replace', index=False)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Criação da engine de conexão
engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')

# Definir o tamanho do chunk
chunk_size = 10000

# Suponha que `df` seja o DataFrame que você deseja escrever no banco de dados
df = pd.read_csv('grande_arquivo.csv')

# Escrever os dados em chunks
df.to_sql('tabela_destino', engine, if_exists='replace', index=False, chunksize=chunk_size, method='multi')

## Utilização de Transações
As transações permitem que você execute várias operações no banco de dados como uma única unidade de trabalho, garantindo que todas as operações sejam bem-sucedidas ou nenhuma delas seja aplicada, o que é útil para manter a integridade dos dados.

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError

# Criação da engine de conexão
engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')

# Criar uma sessão
Session = sessionmaker(bind=engine)
session = Session()

try:
    # Realizar múltiplas operações de banco de dados
    session.execute("INSERT INTO tabela (coluna1, coluna2) VALUES (1, 'A')")
    session.execute("UPDATE tabela SET coluna2 = 'B' WHERE coluna1 = 1")
    
    # Confirmar a transação
    session.commit()
except SQLAlchemyError as e:
    # Reverter a transação em caso de erro
    session.rollback()
    print(f"Erro ao realizar transação: {e}")
finally:
    # Fechar a sessão
    session.close()

## Integração com Outras Bibliotecas
Integração com dask para processamento distribuído:
Dask é uma biblioteca poderosa para paralelizar e distribuir o processamento de grandes DataFrames, oferecendo uma interface similar à do pandas.

In [ ]:
import dask.dataframe as dd
from sqlalchemy import create_engine

# Criação da engine de conexão
engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')

# Ler dados usando Dask
query = "SELECT * FROM tabela_origem"
df = dd.read_sql_table('tabela_origem', engine, index_col='id', npartitions=10)

# Operações com Dask DataFrame
df_filtered = df[df['coluna1'] > 2]

# Escrever dados de volta ao banco de dados usando pandas
df_filtered.compute().to_sql('tabela_destino', engine, if_exists='replace', index=False)

In [5]:
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine

Base = declarative_base()


class Person(Base):
    __tablename__ = 'person'
    # Here we define columns for the table person
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    name = Column(String(250), nullable=False)

class Address(Base):
    __tablename__ = 'address'
    # Here we define columns for the table address.
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    street_name = Column(String(250))
    street_number = Column(String(250))
    post_code = Column(String(250), nullable=False)
    person_id = Column(Integer, ForeignKey('person.id'))
    person = relationship(Person)

# Create an engine that stores data in the local directory's
# sqlalchemy_example.db file.
engine = create_engine('sqlite:///sqlalchemy_example2.db', echo=True)

# Create all tables in the engine. This is equivalent to "Create Table"
# statements in raw SQL.
Base.metadata.create_all(engine)

2024-11-21 22:05:47,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-21 22:05:47,764 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("person")
2024-11-21 22:05:47,764 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-21 22:05:47,766 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("person")
2024-11-21 22:05:47,768 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-21 22:05:47,769 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2024-11-21 22:05:47,770 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-21 22:05:47,771 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2024-11-21 22:05:47,771 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-21 22:05:47,773 INFO sqlalchemy.engine.Engine
CREATE TABLE person (
	id INTEGER NOT NULL,
	name VARCHAR(250) NOT NULL,
	PRIMARY KEY (id)
)


2024-11-21 22:05:47,773 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2024-11-21 22:05:47,782 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	street_name VARCHAR(250),
	street_number VARCHAR(250),
	post_code VARCHAR(250) NOT NULL,
	person_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(person_id) REFERENCES person (id)
)


2024-11-21 22:05:47,784 INFO sqlalchemy.engine.Engine [no key 0.00168s] ()
2024-11-21 22:05:47,792 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\dacio\AppData\Local\Temp\ipykernel_47672\2099893536.py:8: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()